.launchContainer {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid silver;
}

.launchContainer img {
    display: block;
    padding: 15px;
    width: 80%;
}

.title {
    font-weight: bold;
}